body {
  font-family: "Share Tech Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2f0039;
  color: #fe2a97;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
